---
layout: layouts/home.njk
---

<section id="slider" class="hero odd p-0 featured">
  <div class="swiper-container no-slider animation slider-h-100">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-center">

        <!-- Particles -->
        <!-- <div id="particles-1" class="particles full-image" data-particle="bubble" data-mask="70"></div>     -->
        <video type="video/mp4" class="full-image" data-mask="50" src="assets/videos/galaxy.mp4" autoplay="" muted=""></video>

        <div class="slide-content row">
          <div class="col-12 d-flex inner">
            <div class="center align-self-center text-center">
              <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">YOUR CONCEPT AGENCY</h1>
              <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto mr-auto">We work with few selected brands and elevate their online presence.</p>
              <a href="#intro" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mt-5">
                <i class="hero-arrow-icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- How we work -->
<section id="intro" class="section-1 counter skills">
  <div class="container">
    <div class="row text-center intro">
      <div class="col-12">
        <h2 class="super effect-static-text">How we work</h2>
        <p class="text-max-800">
          We are a dedicated team of entrepreneurs, web developers, and digital experts ready to make your concept a reality. Whether you are an entrepreneur at the beginning of your path, or a well-rounded business looking to scale up, we are here to help you.
          We can support you in developing your concept, building a technical solution that fits your needs, or simply work on your branding to elevate your online presence.
          We only work with a few selected brands to give them all the care and attention they deserve: we don’t have clients, we have partners. 
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section id="services" class="section-2 odd offers featured custom">
  <div class="container">
    <div class="row text-center intro">
      <div class="col-12">
        <h2>What we do</h2>
        <p class="text-max-800">Check out our services and contact us to know our availability</p>
      </div>
    </div>
    <div class="row justify-content-center text-center items">
      {% set serviceslist = services %}
      {% include "serviceslist.njk" %}
    </div>
  </div>
</section>

<!-- Case Studies -->
<section id="portfolio-grid" class="section-5 showcase portfolio blog-grid filter-section featured">
  <div class="overflow-holder">
    <div class="container">
      <div class="row text-center intro">
        <div class="col-12">
          <h2 class="mb-0">Case studies</h2>
        </div>
      </div>
      {# Portfolio Navigation
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn active">
              <input type="radio" value="all" checked class="btn-filter-item">
              <span>All</span>
            </label>
            <label class="btn">
              <input type="radio" value="concept" class="btn-filter-item">
              <span>Concept</span>
            </label>
            <label class="btn">
              <input type="radio" value="branding" class="btn-filter-item">
              <span>Branding</span>
            </label>
            <label class="btn">
              <input type="radio" value="development" class="btn-filter-item">
              <span>Development</span>
            </label>
            <label class="btn">
              <input type="radio" value="digital-marketing" class="btn-filter-item">
              <span>Digital Marketing</span>
            </label>
          </div>
        </div>
      </div> #}

      <div class="row items filter-items">
        {% set projectslist = collections.projects %}
        {% include "projectslist.njk" %}
        <div class="col-1 filter-sizer"></div>
      </div>
    </div>
  </div>
</section>

<!-- About us -->
<section id="about" class="section-3">
  <div class="container smaller">
    <div class="row text-center intro">
      <div class="col-12">
        <h2 class="super effect-static-text">Our Story</h2>
        <p class="text-max-800">
          Elliot Concept Agency is a web and media agency created for Entrepreneurs by Entrepreneurs and tech experts. We are the sister brand of Elliot for Water, an ethical search engine that donates water with your searches, and we are here to help brands around the world.
          For years, with our business, we have struggled with agencies that would promise us the world, charge us for the universe, and then made us chase them to actually get the bare minimum work. This situation forced us to take the long road and do everything by ourselves. The end result, though, is that we developed a search platform that has been used by 600,000 people, donated more than 1 million liters of water, and that has been featured in TV shows, radios, magazines, podcasts, and public events.
          We now feel that the time was right for us to give back to the entrepreneurial community and create an agency providing people with the quality of service they deserve, from Web Development to Online Marketing and Social Media. 
          To make this possible, we only work with a few selected brands, give them all the focus necessary, and elevate their online presence.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section id="team" class="section-4 carousel featured card-white">
  <div class="overflow-holder">
    <div class="container">
      <div class="row text-center intro">
        <div class="col-12">
          <h2 class="super effect-static-text">Who we are</h2>
          <p class="text-max-800">Our core team collaborates with selected tech and business experts from all over the world in order to provide you with a dedicated service.</p>
        </div>
      </div>
      <div class="swiper-container mid-slider-simple items">
        <div class="swiper-wrapper">
          {% set peoplelist = people %}
          {% include "peoplelist.njk" %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<!-- Articles -->
{# <section id="articles" class="section-2 odd offers featured custom">
  <div class="container">
    <div class="row text-center intro">
      <div class="col-12">
        <h2>Our work has been featured in</h2>
        <p class="text-max-800">Focused on results we seek to raise the level of our customers.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center items">
      {% set articleslist = articles %}
      {% include "articleslist.njk" %}
  </div>
</section> #}

{% include "form.njk" %}