---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ metadata.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for project in collections.projects | reverse %}
    {%- set absoluteProjectUrl %}{{ project.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absoluteProjectUrl }}",
      "url": "{{ absoluteProjectUrl }}",
      "title": "{{ project.title }}",
      "content_html": {% if project.templateContent %}{{ project.templateContent | dump | safe }}{% else %}""{% endif %},
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
