/* CUSTOM CSS */
.dark-button,
.dark-button:visited,
.dark-button:active {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.dark-button:before {
  background-image: none;
}

.pagination-projects {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-bottom: 20px;
}

.text-max-800 {
  line-height: 1.7;
}

.social-icon-custom {
  width: 23px;
  height: 23px;
}

.social-icon-custom path {
  stroke: white;
  stroke-linejoin: round;
  stroke-width: 20;
  fill: none;
}

header .navbar-expand .navbar-nav.action .btn i {
  display: none;
}

.logo-cities {
  font-weight: 100;
  font-family: Helvetica;
  font-size: 9px;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  margin-left: 9px;
}

.navbar .nav-container {
  justify-content: flex-end;
}

.navbar-expand
  .navbar-nav
  .nav-link:not(.btn):not(.title):hover
  .social-icon-custom
  path {
  stroke: var(--primary-color);
}

.hero-arrow-icon {
  font-size: 2em;
}

.footer .social-icon-custom path {
  stroke: var(--secondary-color);
}

.card:hover .image-over:before {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--primary-color) 65%
  );
  opacity: 0.75;
}

.offers .card {
  height: 500px;
}

.offers .items .item .icon {
  margin: 20px auto;
}

.showcase .card {
  height: 400px;
}

.person {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

/* Project Layout */
.big_img_one_shadow {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1000px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.big_img_one {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1000px;
}

.highlights .gallery .fit-image {
  object-fit: contain;
  object-position: top;
  height: auto;
}

@media (max-width: 767px) {
  header .navbar-expand .navbar-nav.action .btn i {
    display: inline;
  }
}
